@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
}

.actionButton {
  padding: .5rem;
  position: relative;
  cursor: pointer;
  background: none;
}

.actionButton:hover {
  text-decoration: underline;
  text-underline-offset: .5rem;
  color: #4d85e4;
}

.actionButton:visited {
  color: #4d85e4;
}

.actionButtonTwo {
  padding: 1rem;
  border-radius: .3rem;
  background: #66afef;
  color: white;
  cursor: pointer;
  margin: 0 .5rem;
}

.addButton img {
  display: none;
}

.completeListFilter span, .treatListFilter span {
  font-weight: 600;
  display: none;
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff4949;
}

.deleteButton img {
  display: none;
}

.authButton {
  margin: 1.5rem 0;
  background: #66afef;
  width: 100%;
}

.signupBtn, .loginBtn {
  width: 100%;
}

.goToSignupLogin {
  position: relative;
  cursor: pointer;
  background: none;
  margin: 1rem 0;
}

.goToSignupLogin:hover {
  text-decoration: underline;
  text-underline-offset: .5rem;
  color: #4d85e4;
}

.goToSignupLogin:visited {
  color: #4d85e4;
}

.errorMsg {
  color: red;
  margin-bottom: 1rem;
}

@media screen and (max-width: 860px) {
  .addButton img {
    display: block;
  }
  .addButton p {
    display: none;
  }
  .completeListFilter, .treatListFilter {
    margin: 0 .5rem;
  }
  .completeListFilter span, .treatListFilter span {
    display: inline;
  }
  .completeListFilter p, .treatListFilter p {
    display: none;
  }
  .deleteButton {
    border-radius: 50%;
  }
  .deleteButton img {
    display: block;
  }
  .deleteButton p {
    display: none;
  }
}
