@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin linkStyles {
    position: relative;
    cursor: pointer;
    background: none;
    &:hover {
        text-decoration: underline;
        text-underline-offset: .5rem; 
        color: rgb(77, 133, 228);
    } 
    &:visited {color: rgb(77, 133, 228);}
}

@mixin switchIconButton {
    & img {display: block;}
    & p {display: none;}
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
}

.actionButton {
    padding: .5rem;
    @include linkStyles;
}

.actionButtonTwo {
    padding: 1rem;
    border-radius: .3rem;
    background: rgb(102, 175, 239);
    color: white;
    cursor: pointer;
    margin: 0 .5rem;
}

.addButton {
    padding: .5rem;
    & img {display: none}
}

.completeListFilter, .treatListFilter {
    & span {
        font-weight: 600;
        display: none
    }
}

.deleteButton {
    @include flexCenter;
    background: rgb(255, 73, 73);
    & img {display: none;}
}

.authButton {
    margin: 1.5rem 0;
    background: rgb(102, 175, 239);
    width: 100%;
}

.signupBtn, .loginBtn {
    width: 100%;
}

.logoutBtn {
    cursor: pointer;
    background: none;
}

.goToSignupLogin {
    @include linkStyles;
    margin: 1rem 0;
}

.errorMsg {
    color: red;
    margin-bottom: 1rem;
}

@media screen and (max-width: 860px) {

    .addButton {
        @include switchIconButton;
    }

        .completeListFilter, .treatListFilter {
            & span {display: inline;}
            & p {display: none;}
        }

    .deleteButton {
        border-radius: 50%;
        @include switchIconButton;
    }
}