@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
}

.actionButton {
    padding: 1rem;
    border-radius: .3rem;
    color: white;
    cursor: pointer;
    margin: 0 .2rem;
}

.actionButtonTwo {
    padding: 1rem;
    border-radius: .3rem;
    background: rgb(102, 175, 239);
    color: white;
    cursor: pointer;
    margin: 0 .2rem;
}

.deleteButton {
    background: rgb(255, 73, 73);
}

.authButton {
    margin: 1.5rem 0;
    background: rgb(0, 162, 255);
    width: 100%;
}

.goToSignupLogin {
    color: rgb(77, 133, 228);
    &:hover {
        text-decoration: underline;
    }
}